.articles {
    display:flex;
    flex-wrap: wrap;
}

.articles .article-each{
    border-style:solid;
    border-top-left-radius:14px;
    border-top-right-radius:14px;
    border-bottom-left-radius:14px;
    border-bottom-right-radius:14px;
    width: 28%;
    height: 375px;
    margin-right: 1em;
    margin-top: 1em;
    padding: .5em;
   }

.articles .article-each button{
    background-color: rgb(214, 181, 132);
   }

.add-article {
    border: 5px solid black;
    padding: .5em;
    transform:translatex(1013px) translatey(0px);
}